
.reviewWrapper {
    background: #FFFFFF;
}

.reviewTop {
    width: 1512px;
    height: 926px;
}

.reviewContent {
    display: flex;
    flex-direction: row;
    padding: 926px 0 100px 0;
}

.reviewContentItems {
    flex: 1;
}

.reviewItem {
    min-height: 1px;
    width: 961px;
    height: 268px;
    left: 553px;
    top: 200px;
    background: #008705;
}

.reviewItemText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.155em;
    padding: 100px 0 100px 0;
    top: 300px;
    text-align: justify;
    background-size: cover;
}

.reviewBookCover {
    background: url("../../assect/ourServices/itWasAllADream.png") no-repeat center center;
    width: 384px;
    height: 500px;
    background-size: cover;
}