
.reviewWrapper {
    background: #FFFFFF;
}

.reviewTop {
    width: 1512px;
    height: 926px;
}

.reviewContent {
    display: flex;
    flex-direction: row;
    padding: 926px 0 100px 0;
}

.reviewContentItems {
    flex: 1;
}

.reviewItem {
    min-height: 1px;
    width: 961px;
    height: 268px;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 300px;
    background: #008705;
    margin-left: 400px;
    margin-top: -30%;
    left: 553px;
    top: 0;
}

.reviewItemText {
    vertical-align: 1000px;
    width: 843px;
    height: 80px;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 164%;
    text-align: justify;
    letter-spacing: 0.155em;
    margin-left: -200px;
    margin-top: 35%;
}

.reviewBookCover {
    background: url("../../assect/ourServices/itWasAllADream.png") no-repeat center center;
    width: 384px;
    height: 500px;
    left: 101px;
    top: 0;
}


.itWasAllADream {
    width: 737px;
    height: 33px;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 164%;
    /* identical to box height, or 33px */

    text-align: justify;
    letter-spacing: 0.155em;

    color: #FFFFFF;

    margin-left: -200px;
    margin-top: -80%;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.authorOfReviewItem {
    width: 120px;
    height: 20px;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 164%;
    /* identical to box height, or 20px */

    text-align: justify;
    letter-spacing: 0.155em;

    color: #FFFFFF;
    margin-left: -200px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.blueItem {
    width: 19px;
    height: 83px;
    margin-left: -112px;
    /*margin-bottom: -112px;*/
    margin-top: 20px;

    background: #0F76B0;
}