
.productsWrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.productsItems {

}

.productsItem {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding-top: 20px;
}

.productsItemImage {
    flex: 1;
    border-radius: 15px;
    margin: 20px;
}

.productsItemImageBookClub {
    background: url("../../assect/images/book-club.png") no-repeat center;
    background-size: cover;
}

.productsItemImageOnlineShop {
    background: url("../../assect/images/online-shop.png") no-repeat center;
    background-size: cover;
}

.productsItemContent {
    flex: 1;
    padding: 20px;
}

.productsItemContentTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.05em;
    color: #0F0F0F;
}

.productsItemContentDescription {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #0F0F0F;
    padding-top: 20px;
}