
.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.navScrollBar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: -1000;
    opacity: 0;
    transition-duration: 0.4s;
}

.navScrollBarShow {
    z-index: 1000;
    opacity: 0.98;
}

.loginPage {
    background: url("../assect/images/login-page-background.png") no-repeat center right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFoundPage{
    background: url("../assect/images/login-page-background.png") no-repeat center right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPageContainer {
    width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.loginPageLogo {
    background: url("../assect/images/logo.png") no-repeat center center;
    background-size: cover;
    width: 570px;
    height: 150px;
    margin: 50px;
}

.signUpPage {
    display: flex;
}

.signUpLogoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.signUpBackground {
    background: url("../assect/images/sign-in-page-background.png") no-repeat center right;
    background-size: cover;
    filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.signUpLogo {
    background: url("../assect/images/logo.png") no-repeat center center;
    background-size: cover;
    width: 570px;
    height: 150px;
}

.signUpFormContainer {
    width: 670px;
    height: 100%;
}

.landingPage {
    display: flex;
    flex-direction: column;
}

.landingTop {
    display: flex;
    flex-direction: column;
}

.userVerificationPage {
    background: url("../assect/images/sign-in-page-background.png") no-repeat center right;
    background-size: cover;
    filter: brightness(50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.booksPageContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.commonPageBackground {
    /*background: url("../assect/images/login-page-background.png") no-repeat center right;*/
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F0F0F0;
}

.adminPanelWrapper{
    background: #F0F0F0;
    padding-bottom: 100px;
}

.adminPanelWrapper{
    display: flex;
    flex-direction: column;
    background: #F0F0F0;
}

.adminPanelContainer{
    flex: 1;
    background: #F0F0F0;
}



